@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
}

header {
    background-color: rgba(31,41,56,255);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav {
    max-width: 900px;
    display:flex;
    color: white;
    padding: 1%;
    flex-grow: 1;
}

nav a {
    text-decoration: none;
    color: white;
}

nav div:nth-of-type(1) {flex-grow: 1; font-weight: bolder;}
nav div:nth-of-type(2) {flex-grow: 4;}
nav div:nth-of-type(3) {flex-grow: 1; text-align: right;}
nav div:nth-of-type(4) {flex-grow: 1; text-align: right;}
nav div:nth-of-type(5) {flex-grow: 1; text-align: right;}


section{
    width: 100%;
    min-height: 50vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;

}

.first_block{
    background-color: rgba(31,41,56,255);
    justify-content: center;
    align-items: center;
}

.first_block_boxes_container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: center;
}

.first_block_boxes{
    flex-grow: 1;
    max-width: 450px;
    color: white;
}

.first_block_text{
    text-align: left;
    max-width: 100%;
    margin:0;
}

#first_block_left_main_title{
    font-size: 48px;
    font-weight: bolder;
}

.first_block_inner_square {
    background-color: rgba(109,116,125,255);
    min-height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12%;
}

.first_block_inner_square p {
    background-color: rgba(109,116,125,255);
    display: flex;
    align-items: center; 
    text-align: center;
}

.blue_button {
    background-color: #3b82f6;
    width: 130px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-top: 5%;
}

@media only screen and (max-width: 999px){
    .separate{
        margin-bottom: 3%;
    }
  }

@media only screen and (max-width: 999px){
    #first_block_left_main_title {
        margin-top: 10%;
    }
  }

@media only screen and (max-width: 999px){
    .first_block {
        min-height: 96vh;
        align-items: end;
    }
}

.second_block{
    justify-content: center;
    align-items: center;
}

#second_block_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

#second_block_main_title{
    font-size: 36px;
    color:#1f2937;
    font-weight: bolder;
}

#second_block_cards_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    height: max-content;
}

.image_container{
    border-radius: 12px;
    border-style: solid;
    border-width: 3px;
    border-color: #3b82f6;
    height: 170px;
    width: 170px;
    margin-left: 7px;
}

figure {
    width: 190px;  
    align-items: baseline;
    margin: 10px;
    justify-content: center;
}

figure p{
    max-width: 170px;
    /* overflow-y: scroll; */
}

.third_block {
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
}

#third_block_inner_paragraph {
    max-width: 780px;
    text-align: left;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin:8%;
}

#third_block_sign {
    font-weight: bolder;
    margin:5% 10%;
    text-align: right;
}

.fourth_block {
    justify-content: center;
    align-items: center;
}

.fourth_block_text h1, p{
    margin: 0% 5%;
}

@media only screen and (max-width: 726px){
    .fourth_block_text h1, p{
       text-align: center;
    }
  }

.fourth_block_inner_square {
    background-color: #3b82f6;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2% 5%;
    flex-wrap: wrap;
    margin-top: -5%;
    margin-right: 5%;
    margin-left: 5%;
}

.white_border {
    border-style: solid;
    border-color: white;
    margin-top: 3%;
}

.fourth_block_button_box{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 726px){
    .fourth_block_button_box{
       margin-bottom: 2%;
    }
  }

footer{
    background-color: #1f2938;
    color: white;
    min-height: 10vh;
    margin-top: -5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}