@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

section{
    width: 100%;
    min-height: 50vh;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.first_block{
    background-color: '#1f2938';
}

.first_block_inner_square {
    background-color: '#6d747d';
}

.first_block_blue_button {
    background-color: '#3b82f6';
}
.image_container{
    border-radius: 10px;
    border-style: solid;
    border-color: '#3b82f6';
}

.third_block {
    background-color: '#e5e7eb';
}

.fourth_block_inner_square {
    background-color: '#3b82f6';
}

footer{
    background-color: '#1f2938';
}