body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
}

header {
    background-color: rgba(31,41,56,255);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav {
    max-width: 980px;
    flex-grow: 1;
    display:flex;
    padding: 1%;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:nth-of-type(1) {flex-grow: 5; font-weight: bolder;}
nav a:nth-of-type(2) {flex-grow: 1; text-align: right;}
nav a:nth-of-type(3) {flex-grow: 1; text-align: right;}
nav a:nth-of-type(4) {flex-grow: 1; text-align: right;}

section {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

button {
    background-color: #3b82f6;
    color: white;
    width: 130px;
    padding: 10px;
    text-align: center;
    border-style: none;
    border-radius: 10px;
    margin: 3% 0;
}

footer {
    background-color: #1f2938;
    color: white;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first_block {
    min-height: 50vh;
    padding: 0%;
    background-color: rgba(31,41,56,255);
    justify-content: center;
    align-items:center;
    color: white;
}

.first_block div {
    flex-grow: 1;
    max-width: 450px;
}

.first_block h1, .first_block p {
    text-align: left;
    max-width: 100%;
    margin:0 !important;
}

#first_block_left_main_title{
    font-size: 48px;
    font-weight: bolder;
}

.first_block figure {
    flex-grow: 1;
    min-height: 25vh;
    max-width: 450px;
    position: relative !important;
    text-align: center;
}

.first_block figure img {
    max-height: 50vh;
    width: 100%;
    margin: 0 !important;
}

.first_block figcaption {
    position: relative;
    max-width: 450px;
    height: 0;
    top: -17vh;
    text-shadow: #1f2938;
    text-align: center;
    padding: 0% 5%;
}

button:active {
    background-color: #2e66bf;
    transform: scale(1.02);
}

.first_block a {
    text-decoration: none;
}

.second_block{
    min-height: 50vh;
    justify-content: center;
    align-items: top;
}

#second_block_main_title {
    font-size: 36px;
    color:#1f2937;
    font-weight: bolder;
    width: 100%;
    text-align: center;
}

.second_block figure img {
    border-radius: 12px;
    border-style: solid;
    border-width: 3px;
    border-color: #3b82f6;
    height: 170px;
    width: 170px;
    margin-left: 7px;
    transition: transform 0.8s ease
}

img:hover {
    transform: scale(1.02);
}

.second_block figure {
    width: 190px;  
    align-items: baseline;
    margin: 10px;
    justify-content: center;
}

.second_block figure p {
    max-width: 170px;
    overflow-y: scroll; 
    text-align: center;
}

.third_block {
    min-height: 50vh;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
}

.third_block_quote {
    max-width: 780px;
    text-align: left;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin:8%;
}

.third_block_sign {
    font-weight: bolder;
    margin:5% 10%;
    text-align: right;
}

.fourth_block {
    justify-content: center;
    align-items: center;
}

.fourth_block_inner_blue_square {
    background-color: #3b82f6;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2% 5%;
    flex-wrap: wrap;
    margin: 5%;
}

.fourth_block_inner_blue_square button {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.fourth_block_inner_blue_square h3, .fourth_block_inner_blue_square p {
    margin: 0% 5%;
}

@media only screen and (max-width: 999px){
    #first_block_left_main_title {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 999px){
    .first_block {
        min-height: 97vh;
        align-items: flex-end;
    }
}

@media only screen and (max-width: 460px){
    .first_block {
        min-height: 95vh;
        align-items: flex-end;
    }
}

@media only screen and (max-width: 999px){
    .first_block div {
        margin: 5%;
    }
}

@media only screen and (max-width: 999px){
    .first_block figure  {
        margin: 5% !important;
    }
}

@media only screen and (max-width: 697px){
    .fourth_block_inner_blue_square h3, .fourth_block_inner_blue_square p {
       text-align: center;
    }
}


